<ion-header [translucent]="true">
<ion-toolbar mode="ios" color="success">

    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Criar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<form #form="ngForm" (ngSubmit)="cadastro(form)">
    <ion-list>
      <ion-item>
        <ion-input label="Produto" label-placement="floating" fill="solid" placeholder="Escreva o nome do item" type="name" name="produto" ngModel></ion-input>
      </ion-item>
    </ion-list>

    <ion-button shape="round"class="btn btn-primary mt-3" type="submit" color="success" >{{ nameButton }}</ion-button>
    
</form>

<p> <strong>PRODUTOS: </strong> {{dados.produto}} </p>


<ion-button expand="full" color="success">Salvar Lista</ion-button>

  </ion-content>
